<!-- web_app/templates/new_tweet.html -->

{% extends "layout.html" %}

{% block content %}

    <h1>New Tweet Page</h1>

    <p>Please fill out the form and submit to record a tweet!</p>

    <form action="/tweets/create" method="POST">

        <label>Title:</label>
        <input type="text" name="title" placeholder="tweet XYZ" value="tweet XYZ">

        <label>user:</label>
        <select name="user_name">
          <option value="A1">user 1</option>
          <option value="A2">user 2</option>
          <option value="A3">user 3</option>
        </select>

        <button>Submit</button>
    </form>
{% endblock %}